fastapi
uvicorn
jinja2
pydantic
pandas
faiss-cpu
numpy

langchain
langgraph

google-generativeai
pypdf
langchain_google_genai
langchain-community
langchain-chroma 

langchain-google-genai

pypdf
faiss-cpu
numpy
pandas
fastapi
uvicorn
jinja2